.page-header {
	.header-image {
		img {
			width: 100%;
			height: auto;
		}
	}

	.page-title {
		background: $dark-bg;
		text-align: center;
		padding: 5px 0;

		h1 {
			color: $white;
			font-size: 32px;
			font-weight: 600;
		}
	}
}
